.slim {
    margin: 0;
}

table {
    border-collapse: collapse;
    width: max-content;
}

td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

tr:hover {
    background-color: lightskyblue;
}

input {
    padding: 6px;
}

input:hover {
    background-color: lightcoral;
}
